(
.notdef,
NULL,
CR,
space,
A,
A-cy,
AE,
AEacute,
Aacute,
Abreve,
Abreve-cy,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresis-cy,
Adotbelow,
Agrave,
Ahookabove,
Aie-cy,
Ainvertedbreve,
Alpha,
Alphatonos,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
B,
Be-cy,
Beta,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Che-cy,
Cheabkhasian-cy,
Chedescender-cy,
Chedescenderabkhasian-cy,
Chedieresis-cy,
Chekhakassian-cy,
Cheverticalstroke-cy,
Chi,
D,
DZcaron,
Dcaron,
Dcroat,
Ddotbelow,
De-cy,
De-cy.loclBGR,
Delta,
Dje-cy,
Dlinebelow,
Dzcaron,
Dze-cy,
Dzeabkhasian-cy,
Dzhe-cy,
E,
E-cy,
Eacute,
Ebreve,
Ecaron,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edieresis-cy,
Edotaccent,
Edotbelow,
Ef-cy,
Ef-cy.loclBGR,
Egrave,
Ehookabove,
Einvertedbreve,
El-cy,
El-cy.loclBGR,
Eldescender-cy,
Elhook-cy,
Eltail-cy,
Em-cy,
Emacron,
Emacronacute,
Emacrongrave,
Emtail-cy,
En-cy,
EnLeftHook-cy,
Endescender-cy,
Eng,
Enghe-cy,
Enhook-cy,
Entail-cy,
Eogonek,
Epsilon,
Epsilontonos,
Er-cy,
Ereversed-cy,
Ertick-cy,
Es-cy,
Esdescender-cy,
Esdescender-cy.loclBSH,
Esdescender-cy.loclCHU,
Eta,
Etatonos,
Eth,
Etilde,
F,
Fita-cy,
G,
Gamma,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ge-cy,
Gedescender-cy,
Germandbls,
Gestrokehook-cy,
Ghemiddlehook-cy,
Ghestroke-cy,
Ghestroke-cy.loclBSH,
Gheupturn-cy,
Gje-cy,
Gmacron,
H,
Ha-cy,
Haabkhasian-cy,
Hadescender-cy,
Hahook-cy,
Hardsign-cy,
Hastroke-cy,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
I-cy,
Ia-cy,
Iacute,
Ibreve,
Icircumflex,
Idblgrave,
Idieresis,
Idieresis-cy,
Idieresis.calt,
Idieresis.calt2,
Idieresisacute,
Idotaccent,
Idotbelow,
Ie-cy,
Iebreve-cy,
Iegrave-cy,
Igrave,
Ihookabove,
Ii-cy,
Ii-cy.loclBGR,
Iigrave-cy,
Iigrave-cy.loclBGR,
Iinvertedbreve,
Iishort-cy,
Iishort-cy.loclBGR,
Iishorttail-cy,
Imacron,
Imacron-cy,
Io-cy,
Iogonek,
Iota,
Iotadieresis,
Iotatonos,
Itilde,
Iu-cy,
Izhitsa-cy,
J,
Jacute,
Jcircumflex,
Je-cy,
K,
Ka-cy,
Kabashkir-cy,
Kadescender-cy,
Kahook-cy,
KaiSymbol,
Kappa,
Kastroke-cy,
Kaverticalstroke-cy,
Kcommaaccent,
Kje-cy,
L,
LJ,
Lacute,
Lambda,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Lj,
Lje-cy,
Llinebelow,
Lslash,
M,
Mdotbelow,
Mu,
N,
NJ,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nj,
Nje-cy,
Nlinebelow,
Ntilde,
Nu,
O,
O-cy,
OE,
Oacute,
Obarred-cy,
Obarreddieresis-cy,
Obreve,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresis-cy,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohm,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Omega,
Omegatonos,
Omicron,
Omicrontonos,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
P,
Palochka-cy,
Pe-cy,
Pedescender-cy,
Pemiddlehook-cy,
Phi,
Pi,
Psi,
Q,
Qa-cy,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotbelow,
Reversedze-cy,
Rho,
Rinvertedbreve,
Rlinebelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Schwa,
Schwa-cy,
Schwadieresis-cy,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Semisoftsign-cy,
Sha-cy,
Shcha-cy,
Shha-cy,
Shhadescender-cy,
Sigma,
Softsign-cy,
T,
Tau,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Te-cy,
Tedescender-cy,
Tetse-cy,
Theta,
Thorn,
Tlinebelow,
Tse-cy,
Tshe-cy,
U,
U-cy,
Uacute,
Ubreve,
Ucircumflex,
Udblgrave,
Udieresis,
Udieresis-cy,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uhungarumlaut-cy,
Uinvertedbreve,
Umacron,
Umacron-cy,
Umacrondieresis,
Uogonek,
Upsilon,
Upsilondieresis,
Upsilontonos,
Uring,
Ushort-cy,
Ustraight-cy,
Ustraightstroke-cy,
Utilde,
Utildeacute,
V,
Ve-cy,
W,
Wacute,
Wcircumflex,
Wdieresis,
We-cy,
Wgrave,
X,
Xi,
Y,
Yacute,
Yat-cy,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Yeru-cy,
Yerudieresis-cy,
Ygrave,
Yhookabove,
Yi-cy,
Ymacron,
Ytilde,
Yusbig-cy,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Ze-cy,
Zedescender-cy,
Zedescender-cy.loclBSH,
Zedieresis-cy,
Zeta,
Zhe-cy,
Zhebreve-cy,
Zhedescender-cy,
Zhedieresis-cy,
a,
a-cy,
aacute,
abreve,
abreve-cy,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
acute,
acutecomb,
acutecomb.case,
adblgrave,
adieresis,
adieresis-cy,
adotbelow,
ae,
aeacute,
agrave,
ahookabove,
aie-cy,
ainvertedbreve,
alpha,
alphatonos,
amacron,
ampersand,
anoteleia,
aogonek,
apostrophemod,
approxequal,
aring,
aringacute,
asciicircum,
asciitilde,
asterisk,
at,
at.case,
atilde,
b,
backslash,
bar,
be-cy,
be-cy.loclSRB,
beta,
braceleft,
braceleft.case,
braceright,
braceright.case,
bracketleft,
bracketleft.case,
bracketright,
bracketright.case,
breve,
brevebelowcomb,
brevecomb,
brevecomb-cy,
brevecomb-cy.case,
brevecomb.case,
brevecomb.narrow,
brevecomb_acutecomb,
brevecomb_acutecomb.case,
brevecomb_gravecomb,
brevecomb_gravecomb.case,
brevecomb_hookabovecomb,
brevecomb_hookabovecomb.case,
brevecomb_tildecomb,
brevecomb_tildecomb.case,
breveinvertedcomb,
breveinvertedcomb.case,
breveinvertedcomb.narrow,
brokenbar,
bullet,
bullet.case,
bulletoperator,
c,
cacute,
caron,
caroncomb,
caroncomb.alt,
caroncomb.case,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
cedi,
cedi.BRACKET,
cedilla,
cedillacomb,
cent,
cent.BRACKET,
che-cy,
cheabkhasian-cy,
chedescender-cy,
chedescenderabkhasian-cy,
chedieresis-cy,
chekhakassian-cy,
cheverticalstroke-cy,
chi,
circumflex,
circumflexcomb,
circumflexcomb.case,
circumflexcomb.narrow,
circumflexcomb_acutecomb,
circumflexcomb_acutecomb.case,
circumflexcomb_gravecomb,
circumflexcomb_gravecomb.case,
circumflexcomb_hookabovecomb,
circumflexcomb_hookabovecomb.case,
circumflexcomb_tildecomb,
circumflexcomb_tildecomb.case,
colon,
colon.tf,
colonsign,
colonsign.BRACKET,
comma,
comma.tf,
commaaccentcomb,
commaturnedabovecomb,
commaturnedmod,
copyright,
currency,
d,
dagger,
daggerdbl,
dblgravecomb,
dblgravecomb.case,
dcaron,
dcroat,
ddotbelow,
de-cy,
de-cy.loclBGR,
degree,
delta,
descender-cy,
dieresis,
dieresisbelowcomb,
dieresiscomb,
dieresiscomb.case,
dieresiscomb.narrow,
dieresistonos,
dieresistonos.narrow,
divide,
divisionslash,
dje-cy,
dlinebelow,
dollar,
dollar.BRACKET,
dong,
dotaccent,
dotaccentcomb,
dotaccentcomb.case,
dotbelowcomb,
dzcaron,
dze-cy,
dzeabkhasian-cy,
dzhe-cy,
e,
e-cy,
eacute,
ebreve,
ecaron,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edieresis-cy,
edotaccent,
edotbelow,
ef-cy,
ef-cy.loclBGR,
egrave,
ehookabove,
eight,
eight.dnom,
eight.lf,
eight.numr,
eight.osf,
eight.subs,
eight.tf,
eightinferior,
eightsuperior,
einvertedbreve,
el-cy,
el-cy.loclBGR,
eldescender-cy,
elhook-cy,
ellipsis,
eltail-cy,
em-cy,
emacron,
emacronacute,
emacrongrave,
emdash,
emdash.case,
emptyset,
emtail-cy,
en-cy,
endash,
endash.case,
endescender-cy,
eng,
enghe-cy,
enhook-cy,
enlefthook-cy,
entail-cy,
eogonek,
epsilon,
epsilontonos,
equal,
er-cy,
ereversed-cy,
ertick-cy,
es-cy,
esdescender-cy,
esdescender-cy.loclBSH,
esdescender-cy.loclCHU,
estimated,
eta,
etatonos,
eth,
etilde,
euro,
exclam,
exclamdown,
f,
f.calt,
f.calt2,
f.calt3,
fi,
figuredash,
figurespace,
firsttonechinese,
fita-cy,
five,
five.dnom,
five.lf,
five.numr,
five.osf,
five.subs,
five.tf,
fiveinferior,
fivesuperior,
fl,
florin,
four,
four.dnom,
four.lf,
four.numr,
four.osf,
four.subs,
four.tf,
fourinferior,
foursuperior,
fourthtonechinese,
fraction,
franc,
g,
gamma,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ge-cy,
ge-cy.loclBGR,
gedescender-cy,
germandbls,
germandbls.calt,
gestrokehook-cy,
ghemiddlehook-cy,
ghestroke-cy,
ghestroke-cy.loclBSH,
gheupturn-cy,
gje-cy,
gje-cy.loclMKD,
gmacron,
grave,
gravecomb,
gravecomb.case,
greater,
greaterequal,
guarani,
guarani.BRACKET,
guillemetleft,
guillemetleft.case,
guillemetright,
guillemetright.case,
guilsinglleft,
guilsinglleft.case,
guilsinglright,
guilsinglright.case,
h,
ha-cy,
haabkhasian-cy,
hadescender-cy,
hahook-cy,
hairspace,
hardsign-cy,
hardsign-cy.loclBGR,
hastroke-cy,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hookabovecomb,
hookabovecomb.case,
horizontalbar,
horncomb,
hryvnia,
hungarumlaut,
hungarumlautcomb,
hungarumlautcomb.case,
hyphen,
hyphen.case,
hyphentwo,
i,
i-cy,
ia-cy,
iacute,
ibreve,
icircumflex,
idblgrave,
idieresis,
idieresis-cy,
idieresisacute,
idotaccent,
idotbelow,
idotless,
ie-cy,
iebreve-cy,
iegrave-cy,
igrave,
ihookabove,
ii-cy,
ii-cy.loclBGR,
iigrave-cy,
iigrave-cy.loclBGR,
iinvertedbreve,
iishort-cy,
iishort-cy.loclBGR,
iishorttail-cy,
imacron,
imacron-cy,
increment,
infinity,
integral,
io-cy,
iogonek,
iota,
iotadieresis,
iotadieresistonos,
iotatonos,
itilde,
iu-cy,
iu-cy.loclBGR,
izhitsa-cy,
j,
jacute,
jcircumflex,
jdotless,
je-cy,
k,
ka-cy,
ka-cy.loclBGR,
kabashkir-cy,
kadescender-cy,
kahook-cy,
kaiSymbol,
kappa,
kastroke-cy,
kaverticalstroke-cy,
kcommaaccent,
kgreenlandic,
kip,
kje-cy,
l,
lacute,
lambda,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
less,
lessequal,
lira,
liraTurkish,
literSign,
lj,
lje-cy,
llinebelow,
logicalnot,
lowernumeral-greek,
lozenge,
lslash,
m,
macron,
macronbelowcomb,
macroncomb,
macroncomb.case,
macroncomb.narrow,
manat,
mdotbelow,
micro,
minus,
minute,
mu,
multiply,
n,
nacute,
naira,
naira.BRACKET,
nbspace,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nine,
nine.dnom,
nine.lf,
nine.numr,
nine.osf,
nine.subs,
nine.tf,
nineinferior,
ninesuperior,
nj,
nje-cy,
nlinebelow,
notequal,
ntilde,
nu,
numbersign,
numeral-greek,
numero,
o,
o-cy,
oacute,
obarred-cy,
obarreddieresis-cy,
obreve,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresis-cy,
odieresismacron,
odotaccentmacron,
odotbelow,
oe,
ogonek,
ogonekcomb,
ogonekcomb.a,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
omega,
omegatonos,
omicron,
omicrontonos,
one,
one.dnom,
one.lf,
one.numr,
one.osf,
one.subs,
one.tf,
onehalf,
oneinferior,
onequarter,
onesuperior,
oogonek,
ordfeminine,
ordmasculine,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
p,
palochka-cy,
paragraph,
parenleft,
parenleft.case,
parenright,
parenright.case,
partialdiff,
pe-cy,
pe-cy.loclBGR,
pedescender-cy,
pemiddlehook-cy,
percent,
period,
period.tf,
periodcentered,
periodcentered.case,
periodcentered.loclCAT,
perthousand,
peseta,
peseta.BRACKET,
peso,
peso.BRACKET,
phi,
pi,
plus,
plusminus,
product,
psi,
punctuationspace,
q,
qa-cy,
question,
questiondown,
questiongreek,
quotedbl,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotesinglbase,
quotesingle,
r,
racute,
radical,
rcaron,
rcommaaccent,
rdblgrave,
rdotbelow,
registered,
reversedze-cy,
rho,
ring,
ringcomb,
ringhalfleft,
ringhalfright,
rinvertedbreve,
rlinebelow,
ruble,
rupeeIndian,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
schwa,
schwa-cy,
schwadieresis-cy,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
second,
secondtonechinese,
section,
semicolon,
semicolon.tf,
semisoftsign-cy,
seven,
seven.dnom,
seven.lf,
seven.numr,
seven.osf,
seven.subs,
seven.tf,
seveninferior,
sevensuperior,
sha-cy,
sha-cy.loclBGR,
shcha-cy,
shcha-cy.loclBGR,
shha-cy,
shhadescender-cy,
sigma,
sigmafinal,
six,
six.dnom,
six.lf,
six.numr,
six.osf,
six.subs,
six.tf,
sixinferior,
sixsuperior,
slash,
slashlongcomb,
slashshortcomb,
softhyphen,
softsign-cy,
softsign-cy.loclBGR,
sterling,
strokelongcomb,
summation,
t,
tau,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
te-cy,
te-cy.loclBGR,
tedescender-cy,
tenge,
tetse-cy,
theta,
thinspace,
thorn,
three,
three.dnom,
three.lf,
three.numr,
three.osf,
three.subs,
three.tf,
threeinferior,
threequarters,
threesuperior,
tilde,
tildecomb,
tildecomb.case,
tildecomb.narrow,
tlinebelow,
tonos,
tonos.case,
trademark,
tse-cy,
tse-cy.loclBGR,
tshe-cy,
tugrik,
two,
two.dnom,
two.lf,
two.numr,
two.osf,
two.subs,
two.tf,
twoinferior,
twosuperior,
u,
u-cy,
uacute,
ubreve,
ucircumflex,
udblgrave,
udieresis,
udieresis-cy,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uhungarumlaut-cy,
uinvertedbreve,
umacron,
umacron-cy,
umacrondieresis,
underscore,
uogonek,
upsilon,
upsilondieresis,
upsilondieresistonos,
upsilontonos,
uring,
ushort-cy,
ustraight-cy,
ustraightstroke-cy,
utilde,
utildeacute,
v,
ve-cy,
ve-cy.loclBGR,
verticallinelowmod,
verticallinemod,
w,
wacute,
wcircumflex,
wdieresis,
we-cy,
wgrave,
won,
won.BRACKET,
x,
xi,
y,
yacute,
yat-cy,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
yen,
yeru-cy,
yerudieresis-cy,
ygrave,
yhookabove,
yi-cy,
yi-cy.calt1,
yi-cy.calt2,
ymacron,
ytilde,
yusbig-cy,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
ze-cy,
ze-cy.loclBGR,
zedescender-cy,
zedescender-cy.loclBSH,
zedieresis-cy,
zero,
zero.dnom,
zero.lf,
zero.numr,
zero.osf,
zero.subs,
zero.tf,
zeroinferior,
zerosuperior,
zerowidthspace,
zeta,
zhe-cy,
zhe-cy.loclBGR,
zhebreve-cy,
zhedescender-cy,
zhedieresis-cy,
)
